* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #307aa5; /*COLOR DEL CUERPO*/
}

body {
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	max-width: 90%;
	width: 400px;
	margin: 80px auto;
}

/*CUADRO DE TEXTO*/
.formulario input[type='text'] {
	padding: 20px;
	border: none;
	background: #ffffff;/*FONDO DE CUADRO DE TEXTO*/
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(253, 7, 7, 0.2) 0px 7px 29px 0px; /*EL SOMBREADO DEL CUADRO*/
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}


/*1 PRIMER BOTON*/
.formulario .btn {
	width: 100%;
	border: none;
	background: rgb(5, 181, 235); /*COLOR DEL BOTON GENERAR QR*/
	color: #fff; /*COLOR DEL TEXTO*/
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}
.formulario .btn:hover {
	background: #3e14b2; /*SOMBREADO CUANDO LO SELECCIONAS*/
}


/*2 SEGUNDO BOTON*/
.formulario .btn2 {
	width: 100%;
	border: none;
	background: rgb(248, 40, 3); /*COLOR DEL BOTON GENERAR QR*/
	color: #fff; /*COLOR DEL TEXTO*/
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}
.formulario .btn2:hover {
	background: #06d322; /*SOMBREADO CUANDO LO SELECCIONAS*/
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}
