* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #f55e8b;   } /*COLOR DEL CUERPO*/

body {
	font-family: 'Open Sans', sans-serif;  } /*FUENTE DE LETRA*/

.contenedor {
	max-width: 90%;
	width: 400px;
	margin: 80px auto;
}
/***************************************************************************/
/**********************CUADRO DEL TEXTO*************************************/
.formulario input[type='text'] {
	padding: 20px;
	border: none;
	margin-top: 10px; /* Espacio arriba del botón */
 	margin-bottom: 10px; /* Espacio abajo del botón */
	background: #ffffff;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(60, 60, 63, 0.2) 0px 7px 29px 0px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}
/***************************************************************************/
/*******************COLOR DEL BOTON****************************************/
.formulario .btn {
	width: 100%;
	border: none;
	margin-top: 10px; /* Espacio arriba del botón */
 	margin-bottom: 10px; /* Espacio abajo del botón */
	background: rgb(0, 0, 0);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 30px;
	border-radius: 15px;
	font-family: 'Open Sans', sans-serif;}

.formulario .btn:hover {
	background: #30aef7;}
/***************************************************************************/
/**************************************************************************/
.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;}
/***************************************************************************/
/*****ESTILOS ADICIONALES PARA LOS BOTONES DE LIMPIEZA Y DESCARGA***********/
#descargarPDF {
	width: 100%;
	border: none;
	margin-top: 10px; /* Espacio arriba del botón */
 	margin-bottom: 10px; /* Espacio abajo del botón */
	background: rgb(0, 0, 0);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 30px;
	border-radius: 15px;
	font-family: 'Open Sans', sans-serif;}

#descargarPDF:hover {
	background: #30aef7;}
/***************************************************************************/
/****************LIMPIEZA**************************************************/
#limpiar {
	width: 100%;
	border: none;
	background: rgb(0, 0, 0);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 30px;
	border-radius: 15px;
	font-family: 'Open Sans', sans-serif;}
  
#limpiar:hover {
	background: #30aef7;}
/***************************************************************************/
/**************************************************************************/